.vs
/bin/
*.cache
*.pdb
/obj/*.dll
/sdk/src/Core/bin/Debug
/sdk/src/Examples/Vm/bin/Debug/netcoreapp2.1
/sdk/src/Examples/Vm/obj/Debug/netcoreapp2.1
/sdk/src/Examples/Vpc/bin/Debug/netcoreapp2.1
/sdk/src/Examples/Vpc/obj/Debug/netcoreapp2.1
/sdk/src/Examples/Vpc/obj
/sdk/src/Service/Ag/obj/Debug
/sdk/src/Service/Apigateway/obj/Debug
/sdk/src/Service/Baseanti/obj/Debug
/sdk/src/Service/Bds/obj/Debug
/sdk/src/Service/Billing/obj/Debug
/sdk/src/Service/Cdn/obj/Debug
/sdk/src/Service/Charge/bin/Debug
/sdk/src/Service/Charge/obj/Debug/net40
/sdk/src/Service/Charge/obj/Debug
/sdk/src/Service/Clouddnsservice/obj/Debug
/sdk/src/Service/Cms/obj/Debug
/sdk/src/Service/Common/bin/Debug
/sdk/src/Service/Common/obj/Debug
/sdk/src/Service/Cps/obj/Debug
/sdk/src/Service/Csa/obj/Debug
/sdk/src/Service/Ddos/obj/Debug
/sdk/src/Service/Disk/bin/Debug
/sdk/src/Service/Disk/obj/Debug/net40/JDCloudSDK.Disk.AssemblyInfo.cs
/sdk/src/Service/Disk/obj/Debug
/sdk/src/Service/Hips/obj/Debug
/sdk/src/Service/Iam/obj/Debug
/sdk/src/Service/Ids/obj/Debug
/sdk/src/Service/Ipanti/obj/Debug
/sdk/src/Service/Jcq/obj/Debug
/sdk/src/Service/Jmr/obj/Debug
/sdk/src/Service/Kms/obj/Debug
/sdk/src/Service/Lb/obj/Debug
/sdk/src/Service/Mongodb/obj/Debug
/sdk/src/Service/Monitor/obj/Debug
/sdk/src/Service/Mps/obj/Debug
/sdk/src/Service/Nc/obj/Debug
/sdk/src/Service/Oms/obj/Debug
/sdk/src/Service/Order/obj/Debug
/sdk/src/Service/Oss/obj/Debug
/sdk/src/Service/Ossbiz/obj/Debug
/sdk/src/Service/Rds/obj/Debug
/sdk/src/Service/Redis/obj/Debug
/sdk/src/Service/Renewal/obj/Debug
/sdk/src/Service/Ssl/obj/Debug
/sdk/src/Service/Streambus/obj/Debug
/sdk/src/Service/Ucapi/obj/Debug
/sdk/src/Service/Vm/bin/Debug
/sdk/src/Service/Vm/obj/Debug
/sdk/src/Service/Vpc/bin/Debug
/sdk/src/Service/Vpc/obj/Debug
/sdk/src/Service/Vpcwaf/obj/Debug
/sdk/src/Service/Xdata/obj/Debug
/sdk/src/Examples/Oss/obj
/sdk/packages
/sdk/src/Examples/Oss/bin/Debug/netcoreapp2.1
/sdk/src/Examples/Vm/NET45/bin/Debug
/sdk/src/Examples/Vm/NET45/obj/Debug
/sdk/src/Examples/Vm/Standard2/bin/Debug/netcoreapp2.1
/sdk/src/Examples/Vm/Standard2/obj
/sdk/src/Examples/Vpc/Net45/bin/Debug
/sdk/src/Examples/Vpc/Net45/obj/Debug
/sdk/src/Examples/Vpc/Standard2/bin/Debug/netcoreapp2.1
/sdk/src/Examples/Vpc/Standard2/obj/Debug/netcoreapp2.1
/sdk/src/Examples/Vpc/Standard2/obj
/sdk/src/Examples/NET35/obj/Debug
/sdk/src/Examples/NET40/obj/Debug
/sdk/src/Examples/NET45/obj/Debug
/sdk/src/Examples/Standard2/obj/Debug/netcoreapp2.0
/sdk/src/Examples/Standard2/obj
/sdk/src/Examples/NET35/bin/Debug
/sdk/src/Service/Nc/bin/Debug
/sdk/src/Core/obj/Debug
/sdk/src/Examples/Standard2/bin/Debug/netcoreapp2.0
/sdk/src/Service/Oss/bin/Debug/net35
/sdk/src/Service/Oss/bin/Debug/net40
/sdk/src/Service/Oss/bin/Debug/net45
/sdk/src/Service/Oss/bin/Debug/netstandard2.0
/sdk/src/Service/Monitor/bin/Debug
/sdk/src/Service/Oss/bin/Debug
/sdk/src/Service/Ag/bin/Debug
/sdk/src/Service/Lb/bin/Debug
/sdk/src/Service/Mongodb/bin/Debug
/sdk/src/Service/Mps/bin/Debug
/sdk/src/Service/Redis/bin/Debug
/sdk/src/Examples/NET40/bin/Debug
/sdk/src/Examples/NET40/bin/Debug
/sdk/src/Examples/NET45/bin/Debug
/sdk/src/Service/Apigateway/bin/Debug
/sdk/src/Service/Baseanti/bin/Debug
/sdk/src/Service/Bds/bin/Debug
/sdk/src/Service/Billing/bin/Debug
/sdk/src/Service/Bizrisk/bin/Debug
/sdk/src/Service/Bizrisk/obj/Debug
/sdk/src/Service/Cdn/bin/Debug
/sdk/src/Service/Clouddnsservice/bin/Debug
/sdk/src/Service/Cms/bin/Debug
/sdk/src/Service/Cps/bin/Debug
/sdk/src/Service/Csa/bin/Debug/net35
/sdk/src/Service/Csa/bin/Debug/net40
/sdk/src/Service/Csa/bin/Debug/net45
/sdk/src/Service/Csa/bin/Debug/netstandard2.0
/sdk/src/Service/Csa/bin/Debug
/sdk/src/Service/Ddos/bin/Debug
/sdk/src/Service/Esgroup
/sdk/src/Service/Hips/bin/Debug
/sdk/src/Service/Iam/bin/Debug
/sdk/src/Service/Ids/bin/Debug
/sdk/src/Service/Ipanti/bin/Debug
/sdk/src/Service/Jcq/bin/Debug
/sdk/src/Service/Jmr/bin/Debug
/sdk/src/Service/Kms/bin/Debug
/sdk/src/Service/Oms/bin/Debug
/sdk/src/Service/Order/bin/Debug
/sdk/src/Service/Ossbiz/bin/Debug
/sdk/src/Service/Pms/bin/Debug
/sdk/src/Service/Pms/obj/Debug
/sdk/src/Service/Rds/bin/Debug
/sdk/src/Service/Renewal/bin/Debug
/sdk/src/Service/Ssl/bin/Debug
/sdk/src/Service/Streambus/bin/Debug
/sdk/src/Service/Streamcomputer
/sdk/src/Service/Ucapi/bin/Debug/net35
/sdk/src/Service/Ucapi/bin/Debug
/sdk/src/Service/Vpcwaf/bin/Debug
/sdk/src/Service/Xdata/bin/Debug
